{% extends "base.html" %}

{% block content %}
    <h2>Hi
        {% if user %}
            {{user.name}}!
        {% else %}
            there!
        {% endif %}
    </h2>

    <p>Here you can go back to the <a href="/">front page</a>.</p>
    <p>Here you can contribute and create a <a href="/newpost">new post</a>.</p>

    <hr>

    {% for post in posts %}
        <div class="post">
            <div class="post-title"><a href="/{{post.key.id()}}">{{post.title}}</a></div>
            <div class="post-date">{{post.created.strftime("%b %d, %Y")}} by  {{post.author}}</div>
            <div clas="post-content">{{post.content}}</div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}