{% extends "base.html" %}

{% block content %}
    <h2>Hi
        {% if user %}
            {{user.name}}!</h2>
        {% else %}
            there!</h2>
            <p><a href="/login">Login</a> to create a new post! Or <a href="/signup">Signup</a> here.<p>
        {% endif %}


    <p>Here you can go back to the <a href="/">front page</a>.</p>
    <p>Here you can contribute and create a <a href="/newpost">new post</a>.</p>
    {% if user %}
        <a href="/logout">Logout</a> here.
    {% endif %}

    <hr>

    {% for post in posts %}
        <div class="post">
            <div class="post-title"><a href="/{{post.key.id()}}">{{post.title}}</a></div>
            <div class="post-date">
                {{post.created.strftime("%b %d, %Y")}} by  {{post.author}}
                {% if user.name == post.author %}
                    <a href="/{{post.key.id()}}/edit">Edit</a>
                {% endif %}
                {% if user.name == post.author %}
                   <form action="/deletepost" method="post">
                        <input type="hidden" value="{{post.key.id()}}" name="post_id" />
                        <input type="submit" value = "Delete">
                    </form>
                {% endif %}
            </div>
            <div clas="post-content">{{post.content}}</div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}