{% extends "base.html" %}

{% block content %}

    <h2>Login</h2>
    <form method="post">

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ username }}">
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="{{ password }}">
            <div class="error">{{ error }}</div>
            <br>
            <br>
            <input onclick="goBack()" type="submit">
    </form>

    <p>Not yet siged up? Go <a href="/signup">here</a>!</p>


{% endblock %}