{% extends "base.html" %}

{% block content %}

    <div class="post">
        <h2>Blog Post</h2>
        <div class="post-title">{{post.title}}</div>
        <div class="post-date">{{post.created.strftime("%b %d, %Y at %H:%M")}} by {{post.author}}</div>
        <div class="post-date">Last edit: {{post.last_modified.strftime("%b %d, %Y at %H:%M")}}</div>
        <br>
        <div clas="post-content">{{post.content}}</div>
        {% if user.name == post.author %}
            <form action="/deletepost" method="post">
                <input type="hidden" value="{{post.key.id()}}" name="post_id" />
                <input type="submit" value = "Delete">
            </form>
        {% endif %}
    </div>
    <br>
    <hr>
    <div class="likes">
        {% if likes == 1 %}
            {{likes}} Person likes this post
        {% elif likes >1 %}
            {{likes}} Persons like this post
        {% endif %}
    </div>
    {% if user.name != post.author %}
        <form action="/addlike" method="post">
            <input type="hidden" value="{{post.key.id()}}" name="post_id">
            <input type="submit" value="Like">
        </form>
    {% endif %}
    <hr>
    <h2>Comments</h2>
    {% for comment in comments %}
    <div class="comment">
        <p>{{comment.author}} wrote on {{comment.created.strftime("%b %d, %Y at %H:%M")}}
            {% if user.name == comment.author %}
                <form action="/deletecomment" method="post">
                    <input type="hidden" value="{{comment.key.id()}}" name="comment_id" />
                    <input type="submit" value="Delete">
                </form>
            {% endif %}</p>
        <div class="comment-content">{{comment.content}}</div>
    </div>
    {% endfor %}
    <br>
    <hr>
    <br>
    {% if user %}
        <form method="post">
            <div><label for="Comment">Comment:</label></div>
            <textarea id="comment" name="comment">{{content}}</textarea>
            <br>
            <div class="error">{{error}}</div>
            <input type="submit">
        </form>
    {% else %}
        <p><a href="/login">Login</a> to comment! Or <a href="/signup">Signup</a> here.<p>
    {% endif %}

    <p>Go back to the <a href="/feed">feed</a>.</p>

{% endblock %}