{% extends "base.html" %}

{% block content %}

    <div class="post">
        <div class="post-title">{{post.title}}</div>
        <div class="post-date">{{post.created.strftime("%b %d, %Y")}} by {{post.author}}</div>
        <div clas="post-content">{{post.content}}</div>
        {% if user.name == post.author %}
            <form action="/deletepost" method="post">
                <input type="hidden" value="{{post.key.id()}}" name="post_id" />
                <input type="submit" value = "Delete">
            </form>
        {% endif %}
    </div>
    {% for comment in comments %}
    <div class="comment">
        <p>{{comment.author}} schrieb am {{comment.created.strftime("%b %d, %Y")}}
            {% if user.name == comment.author %}
                <form action="/deletecomment" method="post">
                    <input type="hidden" value="{{comment.key.id()}}" name="comment_id" />
                    <input type="submit" value="Delete">
                </form>
            {% endif %}</p>
        <div class="comment-content">{{comment.content}}</div>
    </div>
    {% endfor %}

    {% if user %}
        <form method="post">
            <div><label for="Comment">Comment:</label></div>
            <textarea id="comment" name="comment">{{content}}</textarea>
            <br>
            <div class="error">{{error}}</div>
            <input type="submit">
        </form>
    {% else %}
        <p><a href="/login">Login</a> to comment! Or <a href="/signup">Signup</a> here.<p>
    {% endif %}

    <p>Go back to the <a href="/feed">feed</a>.</p>

{% endblock %}