{% extends "base.html" %}

{% block content %}

    <div class="post">
        <div class="post-title"><h1>{{post.title}}</h1></div>
        <div class="post-date">Published {{post.created.strftime("%b %d, %Y at %H:%M")}} by {{post.author}}</div>
        <div class="post-date">Last edited {{post.last_modified.strftime("%b %d, %Y at %H:%M")}}</div>
        <br>
        <div clas="post-content">{{post.content}}</div>
        {% if user %}
            {% if user.name == post.author %}
                <button type="button" class="btn btn-default float-left"><a href="/{{post.key.id()}}/edit">Edit</a></button>
                <form action="/deletepost" method="post">
                    <input type="hidden" value="{{post.key.id()}}" name="post_id" />
                    <input type="submit" class="btn btn-default" value = "Delete">
                </form>
            {% endif %}
        {% endif %}
    </div>

    <div class="likes">
        {% if likes == 1 %}
            <hr>
            {{likes}} Person likes this post
        {% elif likes >1 %}
            <hr>
            {{likes}} Persons like this post
        {% endif %}
    </div>
    {% if user %}
        {% if user.name != post.author %}
            <form action="/addlike" method="post">
                <input type="hidden" value="{{post.key.id()}}" name="post_id">
                <input type="submit" class="btn btn-default" value="Like">
            </form>
        {% endif %}
    {% endif %}
    <hr>
    <h2>Comments</h2>
    {% for comment in comments %}
    <div class="comment">
        <p>{{comment.author}} wrote on {{comment.created.strftime("%b %d, %Y at %H:%M")}}
        <div class="comment-content">{{comment.content}}</div>
        {% if user %}
            {% if user.name == comment.author %}
                <button type="button" class="btn btn-default float-left"><a href="/editcomment/{{comment.key.id()}}">Edit</a>   </button>
                <form action="/deletecomment" method="post">
                    <input type="hidden" value="{{comment.key.id()}}" name="comment_id" />
                    <input type="submit" class="btn btn-default" value="Delete">
                </form>
            {% endif %}</p>
        {% endif %}
    </div>
    </br>
    {% endfor %}
    <br>
    {% if user %}
        {% if error %}
            <div class="error alert alert-danger">{{error}}</div>
        {% endif %}
        <form method="post">
            <div><label for="Comment">Write a comment:</label></div>
            <textarea id="comment" name="comment">{{content}}</textarea>
            <br>
            <input type="submit" class="btn btn-default">
        </form>
    {% else %}
        <p><a href="/login">Login</a> to comment! Or <a href="/signup">Signup</a> here.<p>
    {% endif %}

    <p>Go back to the <a href="/feed">feed</a>.</p>

{% endblock %}